body {
  font-family: Arial, sans-serif;
  padding-top: 60px;
  padding-bottom: 40px;
}

.cross{
    color:red;
    font-size:30px;
}
.check {
    color:green;
    font-size:20px;
}

a {
    color: #000000;
    text-decoration: underline;
}
a:hover {
    color: #3e3f3a;
    text-decoration: none;
}

.navbar a, a.btn {
    text-decoration: none;
}

.rotate90 {
    -moz-transform: rotate(-90.0deg);  /* FF3.5+ */
    -o-transform: rotate(-90.0deg);  /* Opera 10.5 */
    -webkit-transform: rotate(-90.0deg);  /* Saf3.1+, Chrome */
    filter:  progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083);  /* IE6,IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)"; /* IE8 */
}

td.left-header {
    vertical-align: middle !important;
    text-align: center;
    font-weight: bold;
}
