body {
  font-family: Arial, sans-serif;
  padding-top: 60px;
}

p {
    line-height: 28px;
    margin-bottom: 25px;
    font-size: 16px;
    font-weight: 300;
}

.cross{
    color:red;
    font-size:30px;
}
.check {
    color:green;
    font-size:20px;
}

a {
    color: #000000;
    text-decoration: underline;
}
a:hover {
    color: #3e3f3a;
    text-decoration: none;
}

.navbar a, a.btn {
    text-decoration: none;
}

.rotate90 {
    -moz-transform: rotate(-90.0deg);  /* FF3.5+ */
    -o-transform: rotate(-90.0deg);  /* Opera 10.5 */
    -webkit-transform: rotate(-90.0deg);  /* Saf3.1+, Chrome */
    filter:  progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083);  /* IE6,IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)"; /* IE8 */
}

td.left-header {
    vertical-align: middle !important;
    text-align: center;
    font-weight: bold;
}

.document {
    text-align:center;
}
.thumbnail {
    background: #FFFFFF;
}
.thumbnail a {
    text-decoration: none;
}
.thumbnail a:hover {
    text-decoration: underline;
}

.modal-thumbnail {
    cursor: pointer;
}


/* Footer */

#footer {
    border-top:0px;
    height: 60px;
    width: 100%;
    position: relative;
    background-color: auto;
    padding:20px;
    text-align: center;
}

#footer a {
    color: #3e3f3a;
    text-decoration: none;
}

#footer a:hover, #footer a:focus {
    color: #000000;
    text-decoration: none;
}

/* Big Modals */

/* .modal-transparent */

.modal-transparent {
  background: transparent;
}
.modal-transparent .modal-content {
  background: transparent;
}
.modal-backdrop.modal-backdrop-transparent {
  background: #ffffff;
}
.modal-backdrop.modal-backdrop-transparent.in {
  opacity: .9;
  filter: alpha(opacity=90);
}

/* .modal-fullscreen */

.modal-fullscreen {
  background: transparent;
}
.modal-fullscreen .modal-content {
  background: transparent;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.modal-backdrop.modal-backdrop-fullscreen {
  background: #ffffff;
}
.modal-backdrop.modal-backdrop-fullscreen.in {
  opacity: .97;
  filter: alpha(opacity=97);
}

/* .modal-fullscreen size: we use Bootstrap media query breakpoints */

.modal-fullscreen .modal-dialog {
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}
@media (min-width: 768px) {
  .modal-fullscreen .modal-dialog {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .modal-fullscreen .modal-dialog {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .modal-fullscreen .modal-dialog {
     width: 1170px;
  }
}